In [1]:
import pandas as pd

In [3]:
import csv
df = pd.read_csv('amazon_female.csv', header=None, sep='|',encoding='utf8',quoting=csv.QUOTE_NONE)

In [4]:
df.count()

0    15767363
1    15767363
2    15767363
3    15767363
4    15767363
5    15765700
6    15767363
7    15767363
dtype: int64

In [9]:
df = pd.read_csv('amazon_mostly_female.csv', header=None, sep='|',encoding='utf8',quoting=csv.QUOTE_NONE)

In [10]:
df.count()

0    2225061
1    2225061
2    2225061
3    2225061
4    2225061
5    2224732
6    2225061
7    2225061
dtype: int64

In [6]:
str1 = 'A10FM0SIUKMVKW,1419631349,Lynn L. Duckwall "M. A. Duckwall",mostly_female,3|3,"Reprisal is a sure-fire pleaser: meticulously plotted with wonderfully realized characters and exciting twists and turns. Well written: fast and tense.  Clear your day for a single sitting as it is a page turner. Reprisal is a dynamic debut which only leaves one question - where has Vince Huntington been hiding?Mariam Alexanian Duckwall [Professor of Theatre Arts. Michigan State (Ret)]5 star!!!!!!!,4.0,1161734400'

In [7]:
temp = str1.split(",")

In [8]:
len(temp)

8

In [30]:
df

,0,1,2,3,4,5,6,7
0,A10ZQTNG1Z56IN,B001BXBM1G,Dee,mostly_female,"1,1",love...love...love it.....lots of compliments ...,5.0,1380326400
1,A10FM0SIUKMVKW,1419631349,Lynn L. Duckwall M. A. Duckwall,mostly_female,"3,3","Reprisal is a sure-fire pleaser, meticulously ...",4.0,1161734400

In [34]:
df.head()

,0,1,2,3,4,5,6,7
0,A00001362Q1PGIX2FYSSH,B00125OS3C,Pamela Bellamy,female,"0,0",Beautiful photos/film with wonderful music. G...,5.0,1377907200
1,A00001362Q1PGIX2FYSSH,B002IGHX40,Pamela Bellamy,female,"1,1",My idea of Colorado is &#34;Mountains&#34;. C...,2.0,1377907200
2,A00003262KNLZOSMMMFVV,B002Y2U8MC,Harue Rojas,female,"1,1","It is not a sticker, it is a Chritsmas story ...",5.0,1361145600
3,A00003262KNLZOSMMMFVV,B004P598FY,Harue Rojas,female,"1,1","LOve the size and the details, and its very co...",5.0,1361145600
4,A00003262KNLZOSMMMFVV,B005MU3UE6,Harue Rojas,female,"1,1",Its very colorful and the image once you put...,5.0,1361145600

In [38]:
df = df.rename(columns={0:'productID',1:'reviewerID',2:'reviewerName',3:'gender',4:'helpfulness',5:'reviewText',6:'rating',7:'timestamp'})

In [39]:
df['rating'] = df['rating'].astype(int)

In [40]:
df['rating'][:5]

0    5
1    2
2    5
3    5
4    5
Name: rating, dtype: int64

In [41]:
pd.describe_option(df['rating'])

TypeError: 'Series' objects are mutable, thus they cannot be hashed

In [42]:
df.mean('rating')

ValueError: No axis named rating for object type <class 'pandas.core.frame.DataFrame'>

In [43]:
df['rating']

0           5
1           2
2           5
3           5
4           5
5           5
6           5
7           4
8           5
9           4
10          5
11          5
12          5
13          5
14          5
15          5
16          5
17          5
18          5
19          5
20          5
21          5
22          4
23          5
24          1
25          4
26          5
27          5
28          3
29          5
           ..
15767333    1
15767334    4
15767335    4
15767336    2
15767337    5
15767338    4
15767339    5
15767340    5
15767341    5
15767342    5
15767343    5
15767344    2
15767345    5
15767346    5
15767347    5
15767348    5
15767349    5
15767350    5
15767351    5
15767352    3
15767353    5
15767354    5
15767355    5
15767356    5
15767357    3
15767358    5
15767359    5
15767360    3
15767361    5
15767362    1
Name: rating, Length: 15767363, dtype: int64

In [44]:
df.describe()

             rating     timestamp
count  1.576736e+07  1.576736e+07
mean   4.259302e+00  1.343320e+09
std    1.198969e+00  8.187825e+07
min    1.000000e+00  8.479296e+08
25%    4.000000e+00  1.340582e+09
50%    5.000000e+00  1.371341e+09
75%    5.000000e+00  1.390435e+09
max    5.000000e+00  1.406074e+09

In [45]:
df_male = pd.read_csv('amazon_male.csv', header=None, sep='|',encoding='utf8',quoting=csv.QUOTE_NONE)

In [46]:
df_male = df_male.rename(columns={0:'productID',1:'reviewerID',2:'reviewerName',3:'gender',4:'helpfulness',5:'reviewText',6:'rating',7:'timestamp'})

In [47]:
df_male['rating'] = df_male['rating'].astype(int)

In [48]:
df_male.describe()

             rating     timestamp
count  1.695060e+07  1.695060e+07
mean   4.142525e+00  1.317334e+09
std    1.269486e+00  1.060508e+08
min    1.000000e+00  8.348832e+08
25%    4.000000e+00  1.289434e+09
50%    5.000000e+00  1.362010e+09
75%    5.000000e+00  1.387411e+09
max    5.000000e+00  1.406074e+09